body {
  font-size: 16px;
  background-color: #EDE7F6;
  font-family: 'Oxygen', sans-serif;
}

#header-nav {
	background-color: #673AB7;
	border-radius: 0;
	border: 0;
}
#logo-img {
	background: url('../images/150px-Hitk_1.png') no-repeat;
	width: 150px;
	height: 150px;
	margin: 10px 15px 10px 0;
}
.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Website name */
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 2.9em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { /* Relive Class */
  color: #fff;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 3px;
  margin-left: 10px;
}
.navbar-brand p span { /* icon */
  vertical-align: middle;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #fff;
  text-align: center;
}
#nav-list a:hover {
  background: #D1C4E9;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

/* HOME PAGE */
.container .jumbotron {
  box-shadow: 0 0 50px #3F0C1F;
  border: 2px solid #3F0C1F;
}
/* END HOME PAGE */

/********** Large devices only **********/
@media (min-width: 1200px) {
  .container .jumbotron {
    background: url('../images/backgroundlg.jpg') no-repeat;
    height: 675px;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  #logo-img {
    background: url('../images/150px-hitk_1 (md).png') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }
  /* End Header */

  /* Home Page */
  .container .jumbotron {
    background: url('../images/backgroundmd.jpg') no-repeat;
    height: 558px;
  }
  /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
 /* Home Page */
  .container .jumbotron {
    background: url('../images/backgroundsm.jpg') no-repeat;
    height: 432px;
  }
  /* End Home Page */

}
/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
  /* End Header */
  /* Home Page */
  .container .jumbotron {
    margin-top: 30px;
    padding: 0;
  }

}
